In [1]:
import pandas as pd
import numpy as np
import mysql.connector
from mysql.connector import Error

In [2]:
def insert_dados(host,user,password,database,tbl,data):
    import mysql.connector
    from mysql.connector import Error
    
    try:
        con = mysql.connector.connect(
            host=host,
            user=user,
            password=password,
            database=database
            )
        
        mycursor = con.cursor()
        #EXTRAINDO NOME DAS COLUNAS COLOCANDO-AS NO FORMATO DQL
        coluns_name="("
        value=""
        for x in tuple(data):
            coluns_name=coluns_name+x+","            
        coluns_name=coluns_name[:-1]+")"
        for i in range(data.shape[0]):
            if i==0:
                value=str(tuple(data.iloc[0]))
            else:
                value=value+","+str(tuple(data.iloc[i]))

       
        
       
        mycursor.execute(sql)
        con.commit()
        if  con.is_connected():
            mycursor.close()
            con.close()
        
            
    except:
        pass

In [3]:
def carregar_bd(general,flow,database):
    """
    GENERAL:
        Lista referende a localização dos arquivo CSV. 
            G[a] -> endereço completo do arquivo csv que será inserido no banco de dados;
            G[b] -> nomes das colunas sequências do banco de dados
    FLOW:
        Dados de controle das partes do arquivo CSV que alimentará o banco MySQL 
            F[a] -> primeira linha do arquivo CSV de inicialização. Geralmente inicia em 0
            F[b] -> última linha que irá no banco MySQL. Se for todo o arquivo CSV, o valor deve ser maior que o numero de
                    linhas do arquivo CSV
            F[c] -> tamanho da segmentação CHUNKSIZE
    DATABASE:
        Dados para conexão com o Banco de Dados
            D[a] -> host
            D[b] -> user
            D[c] -> password
            D[d] -> database
            D[e] -> table
    """
    names=general[1]
    address=general[0]
    start=flow[0]
    end=flow[1]
    cont=start-10
    a=0
    for chunk in pd.read_csv(address, encoding = 'latin-1', sep = ';', chunksize=flow[2], names=names):
        #tbl=chunk 
        #tbl=tbl.astype(str) 
        if start>cont:
            cont=cont+1
        elif (start<=cont)&(end>=cont):
            #print(cont)
            tbl=chunk 
            a=a+tbl.shape[0]
            print(a)
            tbl=tbl.astype(str)
            insert_dados(database[0],database[1],database[2],database[3],database[4],tbl)
            #sleep(10)
            cont=cont+1
        else:
            break

In [ ]:
G0='D:\\EMPRES\\TBL_AUXILIARES\\2022_07_RFB\\COMPACTDOS\\K3241.K03200Y'+"0"+'.D20709.ESTABELE.csv'
G1=["cnpj_basico","cnpj_ordem","cnpj_dv","identificador","Nome_fantasia","situacao_cadastral","data_situacao_cadastral","motivo_situaçao_cadastral","nome_cidade_exterior","pais","data_inicio_atividade","cnae_fiscal_principal","cnae_fiscal_secundaria","tipo_logradouro","logradouro","numero","complemento","bairro","cep","uf","municipio","ddd1","telefone1","ddd2","telefone2","dddfax","fax","correio_eletonico","situacao_especial","data_situacao_especial"]
general=[G0,G1]
flow=[0,1200,10000]
database=["localhost","root","zancanaro123","rfb_cnpj","estabelecimento"]
carregar_bd(general,flow,database)

10000
20000

In [ ]:
a=0
address='D:\\EMPRES\\TBL_AUXILIARES\\2022_07_RFB\\COMPACTDOS\\K3241.K03200Y'+"0"+'.D20709.ESTABELE.csv'
names=G1
for chunk in pd.read_csv(address, encoding = 'latin-1', sep = ';', chunksize=1000, names=names):
    tbl=chunk 
    a=a+tbl.shape[0]
    print(a)

In [9]:
a/1000

10431.926